---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
---
<footer class="footer">
    <nav class="nav">
        <div class="text"><a href={ SITE.githubUrl } title={`${ SITE.name } github url'`}>{ SITE.name }</a>
        powered by <a href="https://astro.build/">astro</a></div>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
    .text {
        @apply text-base text-theme-text
    }
</style>
</style>
