---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
---
<footer class="footer">
    <nav class="nav">
        <!-- <a href={SITE.repoUrl}>site source</a> -->
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
    .text {
        @apply text-base text-theme-text
    }
    .nav a {
        @apply px-4 text-theme-primary
    }
</style>
</style>
