---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
---
<footer class="footer">
    <nav class="nav">
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
    .text {
        @apply text-base text-theme-text
    }
</style>
</style>
