---
const { frontmatter: item, url } = Astro.props.item
---
<div class="item-preview">
    <div class="flex-1">
        <h4 class="item-preview__title">
            <a href={url} title={item.title}>{item.title}</a>
        </h4>
        <p class="item-preview__desc">
            {item.description}
        </p>
    </div>
</div>
<style>
    .item-preview {
        @apply  flex gap-6;
    }
    .item-preview__title {
        @apply text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary hover:underline mb-2;
    }
    .item-preview__desc {
        @apply text-lg leading-6 line-clamp-2 text-theme-text;
    }
</style>
