@tailwind base;
@layer base {
	body {
		&.dark {
			@apply text-gray-200;
            header, footer {
                @apply text-gray-400 border-gray-700;
            }
		}
	}
}
@tailwind components;
@tailwind utilities;

/* filename display in top of code block */
pre.astro-code {
    position: relative;
}
pre[data-filename]::before {
	content: attr(data-filename);
	display: inline-block;
	@apply top-0 right-0 absolute px-2 pt-1;
    @apply bg-gray-600 dark:bg-gray-800;
    border-radius: 0 0 0 0.25rem;
}

/* style for code lines */
code {
    @apply bg-gray-600 dark:bg-gray-800;
    text-color: #fff;
    padding: 5px 4px;
    border-radius: 4px;
}
/* Reset code style for code blocks */
pre.astro-code code {
    background: none;
    padding: 0;
    border-radius: 0;
}
